{% extends 'base.html' %}
{% block title %}运维平台 - 业务管理{% endblock %}
{% block content %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>添加业务</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">主页</a>
                </li>
                <li>
                    <a>业务管理</a>
                </li>
                <li>
                    <strong>添加业务</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>添加业务</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">

                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">

                            </a>
                            <ul class="dropdown-menu dropdown-user">

                            </ul>
                            <a class="close-link">

                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal m-t" id="signupForm" method="post">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="form-group">
                                <label name="{{ field.html_name }}" class="col-sm-3 control-label">{{ field.label_tag }}</label>
                                <div class="col-sm-8">
                                    {{ field }}
                                </div>
                            </div>
                            {% endfor %}
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-3">
                                    <button class="btn btn-primary" type="submit">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}